<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ROOTCuts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00FCEF8D3E4847B09A0F8275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21132CE271E349A592751E4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D5B3A03E0C446EA862D69A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535E1FEFC69048CF8D45413F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589C89DC87FC4ACB9D40E56D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A675DD28D364C06BC771387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F33C1F84BC44226BD46CD70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9315C438592B41E184111147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99C8A0BCF50C4F76AA3E773C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA42CDD5B7EB4A3AAB565AD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF20C0503DAD4E0DB4A64160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23A9C53318D4232947E5255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
