<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ROOTCuts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ROOTEffs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3710E2C947624BFD8EC2ABA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D4CDF43B4640E7926A2FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5DBBE2960746CB9EEE9F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDBA0A3FBE54CDFA3CBBCAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C42664CD6EDA489590E6B5DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
